html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}


body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    background: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
} 

:root {
  color-scheme: light dark;
}

#editor {
  width: 100vh;
  height: 100vh;
}