html{
    width: 100%;
}

body {
    border: 0;
    padding: 0;
    overflow: hidden;
    margin: 0;
    background: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
} 

:root {
  color-scheme: light dark;
}

#editor {
  width: auto;
  height: 100vh;
  margin: 0;
}