

/* Apply a border-box model to all elements */


/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
  min-width: 0;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body > #root > div {
  height: 100vh;
}

body > #embed > iframe {
  height: 100vh;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {

  .apex-item-select:focus, .apex-item-text:focus, .apex-item-textarea:focus {
  
          font-size: 16px;
  
      }
  
      .apex-item-select, .apex-item-text, .apex-item-textarea {
  
          font-size: 16px;
  
      }
  
  }