

  html,
  body {
    overflow: overlay;
    
    margin: 0;
    height: 100%;
    overscroll-behavior: contain;
    --webkit-overflow-scrolling: touch;
  
  }
  
  html[data-theme='dark'] {
    background-color: #121212;
   --text-color-normal: hsl(210, 10%, 62%);
    --text-color-light: hsl(210, 15%, 35%);
    --text-color-richer: hsl(210, 50%, 72%);
    --text-color-highlight: hsl(25, 70%, 45%);
  }
  @media screen and (prefers-color-scheme: light) {
    body {
      background-color: white;
      color: black;
      --text-color-normal: #0a244d;
      --text-color-light: #8cabd9;
    }
  }
  
  
   /* #root{} */
  
  
   *:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
     all: unset;
     display: revert;
    }
   *,
    *::before,
   *::after {
     box-sizing: border-box;
   }
   ol, ul {
     list-style: none;
   }
   img {
     max-width: 100%;
   }
   table {
     border-collapse: collapse;
   }
   textarea {
     white-space: revert;
   }
   
 
   
#root{
  min-height: 100%;
}


*, *::before, *::after {
  box-sizing: inherit;
}
body {
  border: 0;
  padding: 0;
  margin: 0;
  background: fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  min-height: -webkit-fill-available;
  height: 100%;
  position: fixed;
  /* prevent overscroll bounce*/
  overflow-y: scroll;
  --webkit-overflow-scrolling: touch;
  padding-bottom: 0 !important;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}



.hidden {
  display: none;
}

/* @font-face {
  font-family: "codicon";
  src: url("/assets/fonts/base/browser/ui/codicons/codicon/codicon.ttf")
    format("truetype");
} */
